
<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="/">
    <i class="fa fa-home dark-blue" aria-hidden="true"></i>
    </a>
    <a href="/" class="float-left clear-hover"> <h1 class="dark-blue"> TinyApp </h1> <a>
        <% if(user){ %>
      <span class="header-div dark-blue"> User: <%= user.email %></span>
      <form action="/logout" method="POST" class="auth-button">
        <button type="submit" class="btn btn-default btn-sm"> Logout </button>
      </form>
    <% } else{ %>  
      
      <div class="dark-blue" >
        <span> Please Login or Register </span>
        <a href="/register" class="clear-hover"> <button class="btn btn-default btn-sm"> Register </button> <a>
        <a href="/login" class="clear-hover"> <button class="btn btn-default btn-sm"> Log In </button> <a>
      </div>
    <% } %>
  </a>



</nav>


  

    
    







