
<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">
    <img src="https://v4-alpha.getbootstrap.com/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    </a>
    <a href="/" class="float-left"> <h1 class="dark-blue"> TinyApp </h1> <a>
        <% if(user){ %>
      <span class="header-div dark-blue"> User: <%= user.email %></span>
      <form action="/logout" method="POST" class="auth-button">
        <button type="submit" class="btn btn-default btn-sm"> Logout </button>
      </form>
    <% } else{ %>  
      
      <div>
        <span> Please Login or Register </span>
        <a href="/register"> <button class="btn btn-default btn-sm"> Register </button> <a>
        <a href="/login"> <button class="btn btn-default btn-sm"> Log In </button> <a>
      </div>
    <% } %>
  </a>



</nav>


  

    
    







