<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
  </head>
  <body>
    <div class="container">
      <header>
        <%include ./partials/_header %>
      </header>
        
        <form action="/login" method="POST" class="form-control dark-blue">
          <h3 class="dark-blue text-default"> Please Login here </h3>
          <label for="email">Email:</label>
          <input id="email" type="email" name="email" placeholder="email@email.com" style="width: 200px">
          
          <label for="password">Password:</label>
          <input id="password" type="password" name="password" style="width: 200px">
          <button type="submit" class="btn btn-primary btn-sm"> Log In </button>
        </form>
    </div>
  </body>
</html>