<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
  </head>
  <body style="font-size:20px; padding:50px;">
    
    <div class="container">
      <header>
        <%include ./partials/_header %>
      </header>
        <div clas="col-md-8">
          <form action="/urls" method="POST" class="form-control dark-blue">
          <h3 class="dark-blue text-default"> Make a new tinylink </h3>
            <label for="longURL">Full URL</label>
            <input id="longURL" type="text" name="longURL" placeholder="website.com" style="width: 300px">
            <button type="submit" class="btn btn-primary btn-sm"> Shorten </button>
          </form>
        </div>
    </div>

  </body>
</html>